- provide(:title, "List of users")
h1#list Admin tools
br
ul
  li = link_to "Listing Users", :anchor => "users"
  li = link_to "Listing Genres", :anchor => "genres"
  li#users = link_to "Listing Tags", :anchor => "tags"
br
br
h3 Listing Users
= render "table_users"
br#genres
= link_to "Back to Top", :anchor => "list"
br
br
br
h3 Listing Genres
p 
  = link_to "Add new Genre", new_genre_path, class: 'btn btn-primary btn-sm'
= render "table_genres"
br#tags
= link_to "Back to Top", :anchor => "list"
br
br
br
h3 Listing Tags
p 
  = link_to "Add new Tag", new_tag_path, class: 'btn btn-primary btn-sm'
= render "table_tags"
br
= link_to "Back to Top", :anchor => "list"
br
