<% provide(:title, @user.email) %>
<%= @user.name %>
<p><%= link_to @user.name << " books", user_books_path(@user) %>
</p>
<%= link_to "Create new book", new_user_book_path(@user) %>
<ul>
<% @user.books.each do |book| %>
 <li><%= link_to book.name, book_path(book) %></li>
<% end %>
</ul>
