<% provide(:title, @user.name) %>
<%= @user.name %>
<p><%= link_to @user.name << " books", books_path %>
</p>
<%= link_to "Create new book", new_book_path %>
<ul>
<% @user.books.each do |book| %>
 <li><%= link_to book.name, book_path(book) %></li>
<% end %>
</ul>
