<% provide(:title, @user.name) %>
<p><%= @user.name %></p>
<%= link_to "Create new book", new_book_path %>
<ul>
<% @user.books.each do |book| %>
  
  <li>
    <span>
    <%= link_to book.name, book_path(book) %> 
    </span> | <span>
    <%= link_to "Edit book", edit_book_path(book) %>
    </span>
  </li>
<% end %>
</ul>
