<% provide(:title, "User books" ) %>

<% if @books.any? %>
  <% @books.each do |book| %>
    <p>
      <%= link_to book.name, book_path(book) %>
    </p>
  <% end %>
<% else %>
  <p>No books yet</p>  
<% end %>
