<%= @book.name %>
<% if @book.chapters.any? %>
  <% @book.chapters.each do |chapter| %>
    
      <p>Chapter name </p>
      <%= chapter.name %>
      <br/>
      <p>Chapter id </p>
      <%= chapter.id %>
      <br/>
      <p>Chapter content </p>
      <%= chapter.content %>

    
  <% end %>
<% else %>
  <p>No chapters yet</p>  
<% end %>