- provide(:title, @book.name)
%h1 
  = link_to @book.name, books_path
- if @book.chapters.any?
  - @book.chapters.each do |chapter|
    %p Chapter name
    = chapter.name
    %br
    %p Chapter id
    = chapter.id
    %br
    %p Chapter content
    / :markdown
    = raw(chapter.content)
-else
  %p No chapters yet  
