<h1>New Chapter</h1>
<br>

<%= form_for [@book, @chapter] do |f| %>

  <label for="chapter_name">Name</label>
    <input id="chapter_name" name="chapter[name]" type="text" placeholder="Chapter name?" />
    <label for="chapter_content">Content</label>
    <%= render 'shared/bootstrap_markdown' %>
    <!-- <textarea id="chapter_content" name="chapter[content]" data-provide="markdown" rows="10"></textarea> -->
  <%= f.submit 'Create Chapter' %> 
  

<% end %>



<!-- <form>
    <input name="name" type="text" placeholder="Title?" />
    <textarea name="content" data-provide="markdown" rows="10"></textarea>
    <label class="checkbox">
      <input name="publish" type="checkbox"> Publish
    </label>
    <hr/>
    <button type="submit" class="btn">Submit</button>
  </form>  -->